body{
	margin: 50px 0 0 15px;
	padding: 0;
}

/**
 * table-row → cart-orders__row
 * table-cell → cart-orders__cell
 * first-column → cart-orders__cell cart-orders__cell_column_first
 * table-inside → table-inner
 * table__price → cart-orders__count
 *
 * @todo: Get rid of all foreign blocks
 */

/* Block cart-orders */
.cart-orders {
	display: table;
	font-family: 'PT Sans', sans-serif;
	border-bottom: 1px solid #cccccc;
}

.cart-orders__row{
	display: table-row;
}
	.cart-orders__row:nth-child(2n){
        background-color: #ededed;
    }
	.cart-orders__row:first-child{
		color: #999999;
	    font-size: 14px;
	}
	.cart-orders__cell{
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		border-top: 5px solid #ffffff;
}
.cart-orders__cell_column_first {
	width: 45px;
	color: #999999;
}
.cart-orders__image{
	height: 100px;
    width: 80px;
    vertical-align: middle;
}
.cart-orders__cell_column_fourth{
	width: 84px;
}
.cart-orders__cell_row_first{
	border-bottom: 1px solid #cccccc;
	padding: 0 0 5px 0;
}
.cart-orders__cell_row_last{
	border-bottom: 5px solid #ffffff;
}

 @media screen and (max-width: 720px) {
 	.cart-orders{
 		border-top: 1px solid #cccccc;
 	}
 	.cart-orders__cell_row_first{
 		display: none;
 	}
 }

@media screen and (max-width: 470px){
	.cart-orders__cell_column_first{
		min-width: 30px;
	}
	.cart-orders__cell_column_fourth{
		min-width: 50px;
		vertical-align: bottom;
		padding: 0 0 10px 0;
	}
}

/*Block table-inner*/
.table-inner{
	display: table;
	width: 100%;
}
	.table-inner_second{
		height: 100px;
	}
	.table-inner__cell{
		display: table-cell;
		vertical-align: middle;
	}
		.table-inner__cell_first{
			text-align: left;
			width: 230px;
		}
		.table-inner__cell_item{
			padding-left: 15px;
			width: 230px;
			box-sizing: border-box;
		}
		.table-inner__cell_second{
			width: 84px;
		}
			.price-invisible{
				display: none;
			}
		.table-inner__cell_third{
			width: 150px;
		}
	    .cart-orders__discription{
	    	padding: 15px 0 0 15px;
	    	color: #000000;
	        font-size: 14px;
	        display: block;
	    }
	    .cart-orders__discription_link{
	    	color: #000000;
	    }
	    .cart-orders__discription_price-msrp{
	    	font-size: 12px;
	        color: #666666;
	    }

 @media screen and (max-width: 720px) {
 	.table-inner_first{
		display: none;
	}
 }	    

@media screen and (max-width: 470px) {
	.table-inner{
		display: table-cell;
		min-width: 80px;
	}
	.table-inner__cell{
		display: block;
		min-width: 80px;
	}
	.cart-orders__discription{
	    padding: 0px 0 0 15px;
	}
	.table-inner__cell_first{
		width: 125px;
	}
	.table-inner__cell_second{
		text-align: left;
		padding: 0 0 0 15px;
		font-size: 12px;
	    color: #666666;
	}
	.price-invisible{
		display: inline;
	}
	.table-inner__cell_third{
		width: 125px;
		padding: 0px 0 0 15px;
	}
	.table-inner_first{
		display: none;
	}
 }


/*Block quantity*/
.quantity {
        display: inline-block;
        margin: 0 auto;
        vertical-align: middle;
    }

	.quantity__sign {
	        float: left;
	        width: 19px;
	        background: #cccccc;
	        height: 25px;
	        line-height: 25px;
	        font-size: 20px;
	        text-align: center;
	        vertical-align: top;
	        cursor: pointer;
	        color: #333333;
	       }
	         .quantity__sign:hover{
	             box-shadow: 2px 2px 0px 0px #cccccc inset,
	                         -2px -2px 0px 0px #cccccc inset,
	                         3px 3px 0px 0px #ffffff inset,
	                         -3px -3px 0px 0px #ffffff inset;
	            }
	.quantity__number{
	        float: left;
	        width: 12px;
	        padding: 0 6px 0 8px;
	        color: #000000;
	        border-top: 2px solid #cccccc;
	        border-bottom: 2px solid #cccccc;
	        height: 21px;
	        font-size: 14px;
	        position: relative;
	        top: 0px;
	       }

 @media screen and (max-width: 470px) {
 	.quantity{
		width: 100%;
		display: block;
		padding: 5px 0 0 0;
	}
 }

