body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}

/* Block .wrapper-bigscreen */
.wrapper-bigscreen {
    position: relative;
    /*max-width: 1280px;*/
    margin: 0 auto;
}

/* Block .header */
.header {
    height: 80px;
    width: 100%;
}

    .header__content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        height: inherit;
        background: #333333;
    }

@media screen and (max-width: 1140px) {
    .header {
        height: 72px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        height: 67px;
    }
}

/* Block .header-signin */
.header-signin {
    height: 43px;
    font-family: 'PT Sans', sans-serif;
}
    .header-signin__shade {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        background: rgba(0, 0, 0, .2);
    }
        .header-signin.is-full .header-signin__shade {
            display: block;
        }
    .header-signin__content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        min-width: 320px;
        height: inherit;
        background: #333333;
    }
    .header-signin__default {
        display: block;
    }
        .header-signin.is-full .header-signin__default {
            display: none;
        }
    .header-signin__full {
        display: none;
    }
        .header-signin.is-full .header-signin__full {
            display: block;
        }

@media screen and (min-width: 720px) {
    .header-signin {
        height: 57px;
    }
    .header-signin.is-full {
        height: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .header-signin {
        height: 80px;
    }
        .header-signin__default {
            display: none;
        }
        .header-signin__full {
            display: block;
        }
}

/* Block .header-signin-default */
.header-signin-default {
    padding: 8px 10px;
    vertical-align: top;
}

    .header-signin-default__menu {
        display: inline-block;
        cursor: pointer;
    }

    .header-signin-default__logo {
        display: inline-block;
        margin: 0 0 0 12px;
        color: #99cc00;
        font: bold 26px/1.2 'PT Sans Narrow', sans-serif;
        text-decoration: none;
        vertical-align: top;
    }

    .header-signin-default__logo-image {
        display: none;
        margin: -15px 0 0 12px;
        padding: 7px 0 0;
        height: 57px;
        vertical-align: top;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

@media screen and (min-width: 720px) {
    .header-signin-default {
        padding: 15px;
    }

    .header-signin-default__logo {
        font: bold 36px/1.0 'PT Sans Narrow', sans-serif;
        margin: -3px 0 0 12px;
    }
}

@media screen and (min-width: 960px) {
    .header-signin-default__logo {
        display: none;
    }
    .header-signin-default__logo-image {
        display: inline-block;
    }
}

/* Block .header-signin-full */
.header-signin-full {
    padding: 0 15px;
    vertical-align: top;
}

    .header-signin-full__logo-image {
        display: none;
        margin: 20px 0 0;
        height: 42px;
        vertical-align: top;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .header-signin-full__account {
        
    }

    .header-signin-full__contacts {
        
    }

@media screen and (min-width: 720px) {
    .header-signin-full__contacts {
        float: left;
        margin: 0 30% 0 0;
    }
    .header-signin-full__account {
        float: left;
    }
}

@media screen and (min-width: 1100px) {
    .header-signin-full__logo-image {
        display: inline-block;
        float: left;
    }

    .header-signin-full__account {
        float: right;
        width: 180px;
    }

    .header-signin-full__contacts {
        float: left;
        margin: 0 0 0 100px;
    }
}

/* Block .search */
.search{}
    .search_align_right {
        float: right;
    }

    .search__field {
        width: 130px;
        height: 27px;
        margin: 0;
        font-size: 14px;
        line-height: 27px;
        border: 1px solid #cccccc;
        border-right: 0;
        outline: 0;
        font-family: 'PT Sans', sans-serif;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
  }
    .search__button {
        width: 26px;
        height: 27px;
        margin: 0;
        background: #99cc00;
        color: #000000;
        line-height: 25px;
        outline: 0;
        border: 1px solid #cccccc;
        font-family: 'PT Sans', sans-serif;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

/* Block .logo */
.logo {
    position: relative;
    top: 50%;
    display: block;
    width: 525px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
    .logo__image-big {
        display: inline-block;
    }
    .logo__image-small {
        display: none;
    }

@media screen and (max-width: 550px) {
    .logo {
        width: 300px;
    }
        .logo__image-big {
            display: none;
        }
        .logo__image-small {
            display: inline-block;
        }
}

/* Block .content */
.content {
    font-family: 'PT Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .content__title {
        padding: 20px 0;
        font-size: 24px;
        line-height: 1;
        color: #333333;
        text-align: center;
    }

    .content__column {}
        .content__column_left {
            position: absolute;
            top: 0;
            left: 0;
            width: 195px;
            padding: 10px 0 0 15px;
            display: none;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

@media screen and (max-width: 550px) {
    .content__title {
        padding: 12px 0;
    }
}

@media screen and (min-width: 1280px) {
    .content__column_left {
        display: block;
    }

    .content__column_right {
        margin: 0 0 0 195px;
    }
}

/* Block .countries */
.countries {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
    .countries__item {
        position: relative;
        display: inline-block;
        height: 48px;
        padding: 0 0 0 60px;
        margin: 0 35px 0 0;
        font-size: 30px;
        line-height: 48px;
        text-align: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .countries__link:hover {
        color: #99cc00;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
    }
    .countries__image {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: 1px 2px 10px 0px rgba(153, 153, 153, 0.5);
    }

@media screen and (max-width: 1280px) {
    .countries {
        width: 600px;
    }
        .countries__item {
            float: left;
            min-width: 200px;
            margin: 0;
        }
}

@media screen and (max-width: 720px) {
    .countries {
        width: 400px;
    }
        .countries__item {
            float: left;
            min-width: 200px;
            margin: 0;
        }
}

@media screen and (max-width: 550px) {
    .countries {
        width: 200px;
    }
        .countries__item {
            float: left;
            min-width: 200px;
            margin: 0;
        }
}

/* Block .form-signin -wrapper */
.signin-wrapper {
    width: 175px;
    margin: 0 auto;
}

/* Block .change-region */
.change-region {
    /* Do nothing */
}
    .change-region__current {
        display: inline-block;
        font-size: 14px;
    }
    .change-region__flag {
        width: 15px;
        height: 10px;
        box-shadow: 1px 2px 8px 0px rgba(153, 153, 153, 0.75);
        margin-right: 4px;
    }
    .change-region__link {
        font-size: 10px;
        color: #666666;
        float: right;
        padding-top: 3px;
    }
        .change-region__link_align_left {
            display: inline-block;
            float: none;
            margin: 0 0 0 10px;
            color: #FFF;
        }

/* Block .form-signin */
.form-signin  {
    /*margin-top: 3px;*/
}
    .form-signin__field {
        border: 1px solid #cccccc;
        margin: 12px 0 0 0;
        padding: 2px 4px;
        font-size: 14px;
        color: #cccccc;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin__button {
        width: 100%;
        height: 30px;
        margin: 8px 0 5px;
        padding-left: 0px;
        background: #99cc00;
        color: #000000;        
    }
    .form-signin__label {
        font-size: 10px;
        color: #666666;
    }
    .form-signin__checkbox {
        margin-right: 4px;
    }
    .form-signin__help {
        float: right;
        padding-top: 5px;
        font-size: 10px;
        color: #666666;
    }

/* Block .attention */
.attention {
    min-height: 47px;
    margin: 5px 0 0 0;
    padding: 0 10px;
    background: #333333;
}
    .attention__alarm {
        display: inline-block;
        height: 27px;
        margin: 10px 5px 0 0;
        line-height: 27px;
        font-size: 24px;
        color: #ff0000;
    }
    .attention__text {
        display: inline-block;
        margin: 5px 0 10px;
        color: #ffffff;
        font-size: 14px;
        vertical-align: middle;
    }
    .attention__link {
        color: #ffffff;
        text-decoration: none;
    }

@media screen and (min-width: 720px) {
    .attention {
        padding: 0 15px;
    }
}

/* Block .list */
.list {
    margin: 0;
    padding: 15px 0;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 14px;
}
    .list__item {
        position: relative;
        width: 50%;
        padding: 3px 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .list__number {
        position: absolute;
        top: 5px;
        left: 32px;
        color: #99cc00;
        text-align: right;
    }
    .list__number-inner {
        position: absolute;
        right: 0;
        white-space: nowrap;
    }
    .list__group {
        color: #333333;
        line-height: 22px;
    }

@media screen and (min-width: 500px) {
    .list__item {
        width: 33%;
    }
}

@media screen and (min-width: 720px) {
    .list__item {
        width: 25%;
    }
}

/* Block .footer */
.footer {
    height: 60px;
    min-width: 320px;
    background: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}

@media screen and (max-width: 720px) {
    .footer {
        height: 35px;
    }
}


/* Block .cart */
.cart {
    display: block;
    float: right;
    padding: 15px;
    text-decoration: none;
}
    .cart__image {
        position: relative;
        display: inline-block;
        width: 35px;
        height: 30px;
        margin: 0 10px 0 0;
        vertical-align: top;
    }
        .cart_type_1 .cart__image {
            background: no-repeat url(../images/cart1.png);
            background-size: contain;
        }
        .cart_type_2 .cart__image {
            background: no-repeat url(../images/cart2.png);
            background-size: contain;
        }
    .cart__text {
        display: inline-block;
        font-size: 24px;
        color: #cccccc;
        vertical-align: top;
    }
    .cart__cost {}
        .cart_type_1 .cart__cost {
            color: #00ccff;
        }
        .cart_type_2 .cart__cost {
            color: #ff6600;
        }
    .cart__badge {
        position: absolute;
        top: -4px;
        right: -8px;
        width: 15px;
        height: 15px;
        font-size: 10px;
        line-height: 15px;
        color: #ffffff;
        background: #cc0000;
        border-radius: 50%;
        text-align: center;
    }

@media screen and (max-width: 720px) {
    .cart {
        padding: 7px 10px;
    }
        .cart__image {
            width: 26px;
            height: 22px;
        }
        .cart__text{
            font-size: 14px;
        }
}

/* Block .account */
.account {
    padding: 10px 0 0;
    color: #cccccc;
    font-size: 14px;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .account__name {
        font-weight: bold;
        color: #99cc00;
    }
    .account__link {
        display: block;
        font-size: 24px;
        line-height: 1.0;
    }

/* Block .contacts */
.contacts {
    padding: 10px 0 0;
    text-align: right;
}
    .contacts__phone {
        font-size: 24px;
        line-height: 35px;
        color: #FFF;
        text-decoration: none;
    }
    .contacts__region {
        color: #CCC;
    }