body{
	margin: 0;
	padding: 0
}
.header{
	background: #333333;
	height: 80px;
}
.header_big{
	padding-left: 18px;
	padding-right: 10px;
	font-family: 'PT Sans', sans-serif;
}
.logo-wrapper{
	width: 525px;
	margin: 0 auto;
}
.logo{
	padding-top: 18px;
}
.phone-number{
	float: right;
	padding-top: 20px;
}
.phone{
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	float: left;
}
.country_header{
	float: right;
	margin-left: 15px; 
}
	.country__name_header{
		color: #cccccc;
		font-size: 24px;
	}
	.country__image_header{
		height: 16px;
		width: 30px;
		margin-right: 5px;
	}
	.country__change_header{
		color: #cccccc;
		font-size: 14px;
		vertical-align: top;
	}
.account{
	float: right;
	margin-left: 73px;
	color: #cccccc;
	font-size: 14px;
	text-align: right;
	padding-top: 10px;
}
	.account__name{
		font-weight: bold;
		color: #99cc00;
	}
	.account__link{
		font-size: 24px;
		line-height: 0.9;
	}
.content-wrapper{
	width: 175px;
	margin: 0 auto;
}
.content{
	font-family: 'PT Sans', sans-serif;
}
	.content__text{
		margin-top: 20px;
		font-size: 24px;
		color: #333333;
	}
.text-wrapper{
	width: 285px;
	margin: 0 auto;
}
.countries{
	width: 1165px;
	margin: 40px auto 0 auto;
}
	.countries__item{
		font-size: 30px;
		display: inline-block;
		margin-left: 35px;
	}
	.countries__link{
		padding-left: 60px;
		display: block;
		position: relative;
	}
	.countries__link:hover{
		color: #99cc00;
		transition: 0.3s;
	}
	.countries__image{
		position: absolute;
		top: 12%;
		left: 0;
		box-shadow: 1px 2px 10px 0px rgba(153, 153, 153, 0.5);
	}
.country{
	margin-top: 20px;
}
	.country__name{
		font-size: 14px;
	}
	.country__image{
		height: 10px;
		width: 15px;
		box-shadow: 1px 2px 8px 0px rgba(153, 153, 153, 0.75);
		margin-right: 4px;
	}
	.country__change{
		font-size: 10px;
		color: #666666;
		float: right;
		padding-top: 3px;
	}
.sign-in{
	margin-top: 3px;
}
	.sign-in__item{
		border: 2px solid #cccccc;
		margin-top: 12px;
		padding-top: 2px;
		padding-left: 9px;
		padding-bottom: 4px;
		font-size: 14px;
		color: #cccccc;
		width: 164px;
	}
	.sign-in__item_submit{
		margin-top: 10px;
		background: #99cc00;
		color: #000000;
		height: 29px;
		width: 176px;
		padding-left: 0px;
	}
	.sign-in__signed{
		margin-top: 10px;
	}
	.sign-in__label{
		font-size: 10px;
		color: #666666;
	}
.help{
	font-size: 10px;
	color: #666666;
	float: right;
	padding-top: 5px;
}
.search{
	float: left;
	padding-top: 15px;
	margin-left: 13px;
	position: relative;
}
	.search__field{
		border: 2px solid #cccccc;
		border-right: none;
		padding-top: 0px;
		padding-left: 9px;
		padding-bottom: 0px;
		font-size: 14px;
		color: #cccccc;
		width: 122px;
		height: 25px;
  		line-height: 25px;
  		margin: 0;
  		outline: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: top;
  }
	.search__button{
		position: absolute;
		left: 122px;
		top: 15px;
		background: #99cc00;
		color: #000000;
		height: 25px;
		line-height: 25px;
		box-sizing: content-box;
		padding: 0px 5px 5px 5px;
  		margin: 0;
  		outline: 0;
  		appearance: ;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
 		 box-sizing: border-box;
	}
.attention{
	float: right;
	background: #333333;
	margin-top: 5px;
	padding-right: 600px;
}
	.attention__alarm{
		display: inline-block;
		height: 45px;
		line-height: 45px;
		font-size: 24px;
		color: #ff0000;
		padding-right: 15px;
		padding-left: 13px;
	}
	.attention__text{
		display: inline-block;
		color: #ffffff;
		font-size: 14px;
		height: 45px;
		line-height: 45px;
		vertical-align: top;
	}
	.attention__link{
		padding-left: 8px;
		display: inline-block;
		color: #ffffff;
		text-decoration: none;
	}
.list-wrapper{
	width: 860px;
	margin: 0 auto;
}
.list{
	font-size: 14px;
}
	.list__number{
		margin-top: 25px;
		color: #99cc00;
		display: inline-block;
		position: relative;
		width: 165px;
		height: 70px;
	}
	.list__group{
		color: #333333;
		position: absolute;
		top: 0;
		left: 25px;
	}