body {
    margin: 0;
    padding: 0;
    min-width: 320px;
}


/* Block .header */
.header {
    position: fixed;
    z-index: 10;
    height: 80px;
    width: 100%;
    background: #333333;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .header {
        height: 72px;
    }
}

@media screen and (max-width: 550px) {
    .header {
        height: 67px;
    }
}

/* Block .logo */
.logo {
    position: relative;
    top: 50%;
    display: block;
    width: 525px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
    .logo__image-big {
        display: inline-block;
    }
    .logo__image-small {
        display: none;
    }

@media screen and (max-width: 550px) {
    .logo {
        width: 300px;
    }
        .logo__image-big {
            display: none;
        }
        .logo__image-small {
            display: inline-block;
        }
}

/* Block .content */
.content {
    padding: 80px 0 0;
    font-family: 'PT Sans', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .content__title {
        padding: 20px 0;
        font-size: 24px;
        line-height: 1;
        color: #333333;
        text-align: center;
    }

@media screen and (max-width: 1140px) {
    .content {
        padding: 72px 0 0;
    }
}

@media screen and (max-width: 550px) {
    .content {
        padding: 67px 0 0;
    }

    .content__title {
        padding: 12px 0;
    }
}


/* Block .countries */
.countries {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
    .countries__item {
        position: relative;
        display: inline-block;
        height: 48px;
        padding: 0 0 0 60px;
        margin: 0 35px 0 0;
        font-size: 30px;
        line-height: 48px;
        text-align: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .countries__link:hover {
        color: #99cc00;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
    }
    .countries__image {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        box-shadow: 1px 2px 10px 0px rgba(153, 153, 153, 0.5);
    }

@media screen and (max-width: 1280px) {
    .countries {
        width: 600px;
    }
        .countries__item {
            float: left;
            min-width: 200px;
            margin: 0;
        }
}

@media screen and (max-width: 720px) {
    .countries {
        width: 400px;
    }
        .countries__item {
            float: left;
            min-width: 200px;
            margin: 0;
        }
}

@media screen and (max-width: 550px) {
    .countries {
        width: 200px;
    }
        .countries__item {
            float: left;
            min-width: 200px;
            margin: 0;
        }
}